---
permalink: /
title: Swordfight.me
---

<sword-fight>
  <template id="swordFightTemplate">
    <div id="gameWrapper">

      <div class="profiles">

        <section id="myProfile">
          <div class="card">
            <div class="card-body">

              {# Your name #}
              <div>
                <h2>You:</h2>
                <p id="myName"><span class="placeholder col-8"></span></p>
              </div>

              <div>
                {# Your health #}
                <h3>Health:</h3>
                <p id="myHealth"><span class="placeholder col-8"></span></p>
              </div>
            </div>
          </div>
        </section>

        <section id="opponentsProfile">
          <div class="card">
            <div class="card-body">

            <div>
              {# Your oppponent's name #}
              <h2>Opponent:</h2>
              <p id="opponentsName"><span class="placeholder col-8"></span></p>
            </div>

            <div>
              {# Your oppponent's health #}
              <h3>Health:</h3>
              <p id="opponentsHealth"><span class="placeholder col-8"></span></p>
            </div>

            </div>
          </div>
        </section>

      </div>

    {#
      #recap

      The recap section will display a summary of the player's actions and the opponent's actions, and the results
      of those actions.
    #}
    <aside id="recap" class="recap">
      <h2>Recap</h2>
      <ul id="recapList">
      </ul>
    </aside>

    {#
      #currentRage

      The current range will display the distance between the player and their opponent.
    #}
    <div id="currentRage">
      <h3>Range:</h3>
      <p id="theRange"><span class="placeholder col-8"></span></p>
    </div>


        {#
          #yourOpponent

          The main section of the game where the player will see their opponent's name, health,
          and a first-person perspective of their opponent.
        #}
        <article id="yourOpponent">
            {# Your first-person perspectve view of your opponent #}
            <h2>You see your opponent:</h2>
            <div class="alert alert-secondary" id="myView">
              <span class="placeholder col-8"></span>
            </div>

        </article>


      {#
        #yourSelf

        The character sheet will display the player's name, health, and a list of moves that the player can use.
      #}
      <article id="mySelf" class="character-sheet">
        {# Your list of moves #}
        <ul id="myMoves">
        </ul>

      </article>
    </div>
  </template>
</sword-fight>
{% script "src/assets/scripts/webcomponents/sword-fight.js" | url %}
