/** Global Settings **/
$enable-rounded: false;

/** Colors **/
$primary: #7950f2;
$light: silver;

/** Override or add colors **/
$custom-theme-colors: (
  "primary": $primary,
  "light": $light,
);
