/** Global Settings **/
$enable-rounded: false;

/** Colors **/
$primary: cornflowerblue;
$secondary: darkred;
$light: silver;

/** Override or add colors **/
$custom-theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
);
